.orange {
    /*ffaa42*/
    color: #ff9900;
}

.dark-orange {
    color: #ed760e;
}

.blue {
    color: #36b7b5;
}

.green {
    color: #8cca8f;
}

.php {
    color: #7377ac;
}

.laravel {
    color: #f82b1e;
}

.nodejs {
    color: #3e863e;
}

.reactjs {
    color: #5fd3f3;
}

.vuejs {
    color: #3eb27f;
}

.linkedin {
    color: #0277b5;
}

.bitbucket {
    color: #025bd8;
}

.github {
    color: #aaa;
}
