.json-element {
    display: flex;
    width: 490px;
    justify-content: space-between;
}

.json-text {
    position: absolute;
    display: flex;
}

.json-left, .json-right {
    font-family: 'Red Hat Mono', monospace;
    font-size: 18px;
    /*color: rgba(255, 255, 255, 0.75);*/
    opacity: 0.7;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.json-left {
}

.json-right {
}

.json-left .json-text {
    margin-left: -120px;
}

.json-text-name-first-line {
    margin: -15px 0 0 0;
}

.json-text-name-second-line {
    margin: 15px 0 0 0;
}

.json-text-name-third-line {
    margin: 55px 0 0 0;
}

.json-text-position {
    margin: 35px 0 0 0;
}

.json-text-contact-first-line {
    margin: 102px 0 0 0;
}

.json-text-contact-second-line {
    margin: 132px 0 0 0;
}

@media (max-width: 735px) {
    .json-element {
        width: auto;
    }

    .json-left, .json-right {
        display: none;
    }
}
