@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Khand:wght@300&family=Red+Hat+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.great-vibes {
    font-family: 'Great Vibes', cursive;
}

.khand {
    font-family: 'Khand', sans-serif;
}

.red-hat {
    font-family: 'Red Hat Mono', monospace;
}

.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    background: url(./background.png) #000 left no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    margin: 25vh 0 0 0;
    width: 100vw;
    gap: 0 30px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 90px;
}

.subheading {
    font-size: larger;
    margin: -20px 0 0 0;
}

.position {
    margin: 30px 0 0 0;
    font-size: xx-large;
}

.icons {
    display: flex;
}

.skills {
    gap: 15px;
    font-size: 32px;
}

.contact {
    margin: 100px 0 0 0;
    gap: 30px;
    font-size: 32px;
}

@media (max-width: 512px) {
    h1 {
        font-size: 50px;
    }
}

@media (max-height: 440px) {
    main {
        margin: 15px 0 0 0;
    }

    .contact {
        margin: 80px 0 0 0;
    }
}
