body {
    justify-content: space-between;
}

main {
    margin: 10vh 0 0 0;
}

footer {
    margin: 15px 0 10px 0;
    align-self: center;
}

.partnerships {
    font-size: x-large;
    margin: 20px 0 0 0;
}

.partnerships-text {
    margin: 15px 15% 0 15%;
}

.partnerships-form {
    display: flex;
    flex-direction: column;
    padding: 35px 0 0 0;
}

.partnerships-form-control {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 5px 0;
    align-items: center;
}

.partnerships-form-control label {
    font-size: 16px;
}

.partnerships-form-control .text-input {
    font-size: 16px;
    padding: 10px;
    width: 180px;
    min-width: 30vw;
}

.partnerships-form .partnerships-form-control-submit {
    justify-content: center;
}

.partnerships-form-control .submit-input {
    background-color: #fff;
    padding: 5px 18px;
    border-radius: 7px;
    border: 0;
}

.wrong-credentials {
    display: none;
    border: 1px solid #f82b1e;
    background-color: #ff4500;
    border-radius: 5px;
    padding: 3px 7px;
    margin: 4px 0;
}